*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h5{
    text-align: right;
    text-decoration: none;
    color: rgb(75, 75, 75);
}

header{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer{
    background-color: lightskyblue;
}

.el_menu{
    font-size: 1.2em;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    flex-grow: 1;
    font-weight: bolder;
}

#qaz{
    flex-grow: 105;
text-align: center;
}

header>a{
    flex-basis: 250px;
    text-align: right;
    text-decoration: none;
    color: rgb(41, 41, 41);
    flex-grow: 1;
}

.el_menu_2{
    font-size: 1.2em;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
}

html{
    background-color: #E7B2A5;
}
